# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

.json 

/build
/managed_components
D:/esp-idf/v5.5/esp-idf/components/**
.vscode/settings.json
.vscode/launch.json
K3NG_Keyer_ESP32_BT_Keyboard.code-workspace
fonts/ILGH16XB.FNT
fonts/ILGH24XB.FNT
fonts/ILGH32XB.FNT
fonts/ILMH16XB.FNT
fonts/ILMH24XB.FNT
fonts/ILMH32XB.FNT
fonts/LATIN32B.FNT
icons/battery01.png
icons/battery02.png
icons/battery03.png
icons/battery04.png
icons/battery05.png
icons/battery06.png
icons/battery07.png
icons/battery08.png
icons/battery09.png
icons/battery10.png
icons/battery11.png
icons/battery12.png
images/esp_logo.png
images/esp32.jpeg
images/image.bmp
images/qrcode.bmp
components/LiquidCrystal_I2C/.hg_archival.txt
components/LiquidCrystal_I2C/.hgignore
components/LiquidCrystal_I2C/.hgsubstate
components/LiquidCrystal_I2C/.hgsub_
components/LiquidCrystal_I2C/.hgtags
components/LiquidCrystal_I2C/.piopm
components/LiquidCrystal_I2C/bitbucket-pipelines.yml
sdkconfig
sdkconfig.old

.devcontainer/devcontainer.json
.devcontainer/Dockerfile
.vscode/settings.json
.vscode/c_cpp_properties.json
.vscode/launch.json
K3NG_Keyer_ESP32_BT_Keyboard.code-workspace

.gitignore

precompiled_images/NO_DISPLAY/K3NG_Keyer.bin
precompiled_images/NO_DISPLAY/partition-table.bin
precompiled_images/NO_DISPLAY/bootloader.bin

precompiled_images/M5STACK_CORE2_LCD/bootloader.bin
precompiled_images/M5STACK_CORE2_LCD/K3NG_Keyer.bin
precompiled_images/M5STACK_CORE2_LCD/partition-table.bin
components/Config/Global_vars.h
debug.log
main/.vscode/main/.vscode/main/main.ino
main/.vscode/main/main.ino
.vscode/arduino.json
.vscode/arduino.json
.vscode/tasks.json
.vscode/arduino.json
