# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

.json 

/build
/managed_components
D:/esp-idf/v5.5/esp-idf/components/**
.vscode/settings.json
.vscode/launch.json
K3NG_Keyer_ESP32_BT_Keyboard.code-workspace

components/arduino/libraries/Adafruit_LiquidCrystal/Adafruit_LiquidCrystal.cpp
components/arduino/libraries/Adafruit_LiquidCrystal/Adafruit_LiquidCrystal.h
components/arduino/libraries/Adafruit_LiquidCrystal/CMakeLists.txt
components/arduino/libraries/Adafruit_LiquidCrystal/component.mk
components/arduino/libraries/Adafruit_LiquidCrystal/keywords.txt
components/arduino/libraries/Adafruit_LiquidCrystal/library.properties
components/arduino/libraries/Adafruit_LiquidCrystal/README.md
components/arduino/libraries/Adafruit_LiquidCrystal/utility/Adafruit_MCP23008.cpp
components/arduino/libraries/Adafruit_LiquidCrystal/utility/Adafruit_MCP23008.h
components/arduino/libraries/LiquidCrystal/.hg_archival.txt
components/arduino/libraries/LiquidCrystal/.hgignore
components/arduino/libraries/LiquidCrystal/.hgsub_
components/arduino/libraries/LiquidCrystal/.hgsubstate
components/arduino/libraries/LiquidCrystal/.hgtags
components/arduino/libraries/LiquidCrystal/.piopm
components/arduino/libraries/LiquidCrystal/bitbucket-pipelines.yml
components/arduino/libraries/LiquidCrystal/CMakeLists.txt
components/arduino/libraries/LiquidCrystal/component.mk
components/arduino/libraries/LiquidCrystal/FastIO.cpp
components/arduino/libraries/LiquidCrystal/FastIO.h
components/arduino/libraries/LiquidCrystal/I2CIO.cpp
components/arduino/libraries/LiquidCrystal/I2CIO.h
components/arduino/libraries/LiquidCrystal/keywords.txt
components/arduino/libraries/LiquidCrystal/LCD.cpp
components/arduino/libraries/LiquidCrystal/LCD.h
components/arduino/libraries/LiquidCrystal/library.json
components/arduino/libraries/LiquidCrystal/LICENSE.webarchive
components/arduino/libraries/LiquidCrystal/LiquidCrystal_I2C_ByVac.cpp
components/arduino/libraries/LiquidCrystal/LiquidCrystal_I2C_ByVac.h
components/arduino/libraries/LiquidCrystal/LiquidCrystal_I2C.cpp
components/arduino/libraries/LiquidCrystal/LiquidCrystal_I2C.h
components/arduino/libraries/LiquidCrystal/LiquidCrystal_SI2C.cpp
components/arduino/libraries/LiquidCrystal/LiquidCrystal_SI2C.h
components/arduino/libraries/LiquidCrystal/LiquidCrystal_SR.cpp
components/arduino/libraries/LiquidCrystal/LiquidCrystal_SR.h
components/arduino/libraries/LiquidCrystal/LiquidCrystal_SR1W.cpp
components/arduino/libraries/LiquidCrystal/LiquidCrystal_SR1W.h
components/arduino/libraries/LiquidCrystal/LiquidCrystal_SR2W.cpp
components/arduino/libraries/LiquidCrystal/LiquidCrystal_SR2W.h
components/arduino/libraries/LiquidCrystal/LiquidCrystal_SR3W.cpp
components/arduino/libraries/LiquidCrystal/LiquidCrystal_SR3W.h
components/arduino/libraries/LiquidCrystal/LiquidCrystal.cpp
components/arduino/libraries/LiquidCrystal/LiquidCrystal.h
components/arduino/libraries/LiquidCrystal/README.md
components/arduino/libraries/LiquidCrystal/SI2CIO.cpp
components/arduino/libraries/LiquidCrystal/SI2CIO.h
components/arduino/libraries/LiquidCrystal/SoftI2CMaster.h
components/arduino/libraries/LiquidCrystal/examples/HelloWorld_4bit/HelloWorld_4bit.pde
components/arduino/libraries/LiquidCrystal/examples/HelloWorld_byVac/HelloWorld_byVac.ino
components/arduino/libraries/LiquidCrystal/examples/HelloWorld_i2c/HelloWorld_i2c.pde
components/arduino/libraries/LiquidCrystal/examples/HelloWorld_si2c/HelloWorld_si2c.ino
components/arduino/libraries/LiquidCrystal/examples/HelloWorld_SR/HelloWorld_SR.pde
components/arduino/libraries/LiquidCrystal/examples/i2cLCDextraIO/i2cLCDextraIO.pde
components/arduino/libraries/LiquidCrystal/examples/i2cLCDextraIO_tempLeonardo/i2cLCDextraIO_tempLeonardo.ino
components/arduino/libraries/LiquidCrystal/examples/LCDiSpeed/LCDiSpeed.pde
components/arduino/libraries/LiquidCrystal/examples/LCDiSpeed/LCDiSpeed.txt
components/arduino/libraries/LiquidCrystal/examples/performanceLCD/performanceLCD.pde
components/arduino/libraries/LiquidCrystal/examples/SerialDisplay/SerialDisplay.pde
components/arduino/libraries/LiquidCrystal_PCF8574/CMakeLists.txt
components/arduino/libraries/LiquidCrystal_PCF8574/component.mk
components/arduino/libraries/LiquidCrystal_PCF8574/keywords.txt
components/arduino/libraries/LiquidCrystal_PCF8574/library.json
components/arduino/libraries/LiquidCrystal_PCF8574/library.properties
components/arduino/libraries/LiquidCrystal_PCF8574/LICENSE
components/arduino/libraries/LiquidCrystal_PCF8574/README.md
components/arduino/libraries/LiquidCrystal_PCF8574/.github/workflows/arduino-checks.yml
components/arduino/libraries/LiquidCrystal_PCF8574/examples/BlinkingCursor/BlinkingCursor.ino
components/arduino/libraries/LiquidCrystal_PCF8574/examples/CustomChars/CustomChars.ino
components/arduino/libraries/LiquidCrystal_PCF8574/examples/HelloWorld/HelloWorld_ESP32.ino
components/arduino/libraries/LiquidCrystal_PCF8574/examples/HelloWorld/HelloWorld.ino
components/arduino/libraries/LiquidCrystal_PCF8574/examples/LCD_Burnin/LCD_Burnin.ino
components/arduino/libraries/LiquidCrystal_PCF8574/examples/LiquidCrystal_PCF8574_Test/LiquidCrystal_PCF8574_Test.ino
components/arduino/libraries/LiquidCrystal_PCF8574/examples/SerialDisplay/SerialDisplay.ino
components/arduino/libraries/LiquidCrystal_PCF8574/src/LiquidCrystal_PCF8574.cpp
components/arduino/libraries/LiquidCrystal_PCF8574/src/LiquidCrystal_PCF8574.h
components/arduino/libraries/st7789/CMakeLists.txt
components/arduino/libraries/st7789/component.mk
components/arduino/libraries/st7789/Kconfig.projbuild
components/arduino/libraries/st7789/src/fontx.c
components/arduino/libraries/st7789/src/fontx.h
components/arduino/libraries/st7789/src/st7789.c
components/arduino/libraries/st7789/src/st7789.h
components/arduino/libraries/TFT_lcd/library.json
components/arduino/libraries/TFT_lcd/library.properties
components/arduino/libraries/TFT_lcd/license.txt
components/arduino/libraries/TFT_lcd/src/TFT_lcd.cpp
components/arduino/libraries/TFT_lcd/src/TFT_lcd.hpp
fonts/ILGH16XB.FNT
fonts/ILGH24XB.FNT
fonts/ILGH32XB.FNT
fonts/ILMH16XB.FNT
fonts/ILMH24XB.FNT
fonts/ILMH32XB.FNT
fonts/LATIN32B.FNT
icons/battery01.png
icons/battery02.png
icons/battery03.png
icons/battery04.png
icons/battery05.png
icons/battery06.png
icons/battery07.png
icons/battery08.png
icons/battery09.png
icons/battery10.png
icons/battery11.png
icons/battery12.png
images/esp_logo.png
images/esp32.jpeg
images/image.bmp
images/qrcode.bmp
components/arduino/libraries/TFT_lcd/CMakeLists.txt
components/arduino/libraries/TFT_lcd/component.mk
components/arduino/libraries/TFT_lcd/keywords.txt
components/LiquidCrystal_I2C/.hg_archival.txt
components/LiquidCrystal_I2C/.hgignore
components/LiquidCrystal_I2C/.hgsubstate
components/LiquidCrystal_I2C/.hgsub_
components/LiquidCrystal_I2C/.hgtags
components/LiquidCrystal_I2C/.piopm
components/LiquidCrystal_I2C/bitbucket-pipelines.yml
components/TFT_lcd/CMakeLists.txt
components/TFT_lcd/component.mk
components/TFT_lcd/keywords.txt
components/TFT_lcd/library.json
components/TFT_lcd/library.properties
components/TFT_lcd/src/I2CIO.cpp
components/TFT_lcd/src/I2CIO.h
components/TFT_lcd/src/TFT_lcd.cpp
components/TFT_lcd/src/TFT_lcd.h
components-backup/LiquidCrystal_I2C/.hg_archival.txt
components-backup/LiquidCrystal_I2C/.hgignore
components-backup/LiquidCrystal_I2C/.hgsub_
components-backup/LiquidCrystal_I2C/.hgsubstate
components-backup/LiquidCrystal_I2C/.hgtags
components-backup/LiquidCrystal_I2C/.piopm
components-backup/LiquidCrystal_I2C/bitbucket-pipelines.yml
components/TFT_eSPI

sdkconfig
sdkconfig.old

.devcontainer/devcontainer.json
.devcontainer/Dockerfile
.vscode/settings.json
.vscode/c_cpp_properties.json
.vscode/launch.json
K3NG_Keyer_ESP32_BT_Keyboard.code-workspace